[packages]
google-api-python-client = "*"
python-dateutil         = "*"
hltv-async-api          = "*"
beautifulsoup4          = "*"
lxml                    = "*"
requests                = "*"

[requires]
python_version = "3.12"
